@charset "UTF-8";

* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}


#menu-h {
    list-style: none;
    max-width: 900px;
}

#menu-h li {
    display: inline;
}

#menu-h li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    transition: background 0.4s;
    border-radius: 5px;
}

#menu-h li a:hover {
    background-color: rgb(24, 139, 233);
} 

#menu #menu-h .logins {
    float: right;
    background-color: rgb(24, 139, 233);
}

#entrar {
    border-right: 1px solid black;
}


nav {
    background-color: rgb(37, 37, 39);
}


footer p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 60px;
    font-weight: bold;
}